<!-- About Section -->
<section id="awards">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Awards</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div>
        <ul>
          <li><p>2021 William and Marlene Schrader Prize in Biomedical Engineering for SWE
            Masters Research Project</p></li>
          <li><p>2021 Students in Health and Medical Research Conference 3-minute Thesis Competition</p></li>
          <li><p>Second prize win at the 2020 WA Medical Datathon sponsored by Amazon Web Services (AWS)</p></li>
          <li><p>2019 Wal-yan Scientific Retreat New Investigator Award</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
