<!-- About Section -->
<section class="success" id="publications">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div>
        <ul>
          <li><p>Gwatimba, A.; Rosenow, T.; Stick, S.M.; Kicic, A.; Iosifidis,
          T.; Karpievitch, Y.V. AI-Driven Cell Tracking to Enable
          High-Throughput Drug Screening Targeting Airway Epithelial Repair for
          Children with Asthma. J. Pers. Med. 2022, 12, 809.
          <u><a
          href="https://doi.org/10.3390/jpm12050809" style="color:
          white">https://doi.org/10.3390/jpm12050809</a></u></p></li>
          <li><p>Gwatimba et al., (2022). Rainbow: Automated Air-Liquid
          Interface Cell Culture Analysis Using Deep Optical Flow. Journal of
          Open Source Software, 7(71), 4080,
          <u><a
          href="https://doi.org/10.21105/joss.04080" style="color: white">https://doi.org/10.21105/joss.04080</a></u>
          </p></li>
          <li><p>(2021), O3-5: Fast AI-enabled cell tracking and migration
          analysis for high-throughput drug screening. Respirology, 26: 11-12.
          <u><a
          href="https://doi.org/10.1111/resp.14149_17" style="color: white">https://doi.org/10.1111/resp.14149_17</a></u>
          </p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
